/* You can add global styles to this file, and also import other style files */
body{
	font-family:sans-serif;
}
.divider-small{
	display: block;
    width: 61px;
    height: 3px;
    background: #66c07a;
    margin: auto;
}